* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
  background: linear-gradient(135deg, #141e30, #243b55);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
